Repository svidgen/amplify-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-js, @aws-amplify/amplify-data, @aws-amplify/amplify-ui, @aws-amplify/amplify-devops, @aws-amplify/amplify-js-admins

.github/CODEOWNERS:

* @aws-amplify/amplify-js
/packages/api @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/api-graphql @aws-amplify/amplify-data
/packages/api-rest @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/aws-amplify-react-native @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/core @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/datastore @aws-amplify/amplify-data
/packages/datastore-storage-adapter @aws-amplify/amplify-data
/packages/geo @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/pubsub @aws-amplify/amplify-js @aws-amplify/amplify-data
/.circleci/ @aws-amplify/amplify-js @aws-amplify/amplify-devops
/.github/ @aws-amplify/amplify-js-admins

chore: resolve babel deps to unbreak the build
  package.json
Owners: @aws-amplify/amplify-js

added scratch file to help with studio ui troubleshooting
  packages/datastore/__tests__/scratch.ts
Owners: @aws-amplify/amplify-data

added simple logical grouping case
  packages/datastore/__tests__/scratch.ts
Owners: @aws-amplify/amplify-data

getting ideas down
  packages/datastore/src/datastore/datastore.ts
Owners: @aws-amplify/amplify-data

...
  packages/datastore/src/datastore/datastore.ts
Owners: @aws-amplify/amplify-data

temp, timing
  packages/datastore/__tests__/IndexedDBAdapter.test.ts
  packages/datastore/src/predicates/next.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
Owners: @aws-amplify/amplify-data

meh
  packages/datastore/src/predicates/next.ts
Owners: @aws-amplify/amplify-data

stash
  packages/datastore/__tests__/mutation.test.ts
  packages/datastore/__tests__/sync.test.ts
  packages/datastore/src/sync/processors/sync.ts
Owners: @aws-amplify/amplify-data

stash
  packages/datastore/__tests__/connectivityHandling.test.ts
  packages/datastore/__tests__/helpers/fakes/graphqlService.ts
Owners: @aws-amplify/amplify-data

more stash
  packages/datastore/__tests__/helpers/fakes/graphqlService.ts
Owners: @aws-amplify/amplify-data

wip test reorg readme
  packages/datastore/__tests__/README.md
Owners: @aws-amplify/amplify-data

stash
  packages/api-graphql/__tests__/v6-test.ts
  packages/api-graphql/package.json
  packages/api-graphql/src/internals/InternalGraphQLAPI.ts
  packages/api-graphql/tsconfig.json
  packages/api/src/API.ts
  packages/api/src/index.ts
  yarn.lock
Owners: @aws-amplify/amplify-data, @aws-amplify/amplify-js

checkpoint, api-graphql builds seemingly with correct export types
  packages/api-graphql/package.json
  packages/api-graphql/tsconfig.json
  packages/api/src/types/index.ts
  yarn.lock
Owners: @aws-amplify/amplify-data, @aws-amplify/amplify-js

stash
  packages/api-graphql/src/Providers/AWSAppSyncRealTimeProvider/index.ts
  packages/api-graphql/src/internals/InternalGraphQLAPI.ts
  packages/core/src/clients/middleware/signing/signer/signatureV4/utils/getSigningValues.ts
Owners: @aws-amplify/amplify-data, @aws-amplify/amplify-js

chore: api-graphql upgrade to typescript 5
  packages/api-graphql/package.json
  yarn.lock
Owners: @aws-amplify/amplify-data, @aws-amplify/amplify-js

tests showing the failure case
  packages/api-graphql/__tests__/fixtures/modeled/amplifyconfiguration.js
  packages/api-graphql/__tests__/fixtures/modeled/schema.ts
  packages/api-graphql/__tests__/generateClient.test.ts
Owners: @aws-amplify/amplify-data

stash
  packages/api-graphql/__tests__/fixtures/modeled/amplifyconfiguration.js
  packages/api-graphql/__tests__/fixtures/modeled/schema.ts
  packages/api-graphql/src/internals/APIClient.ts
Owners: @aws-amplify/amplify-data

test: add skipped test demonstrating behavior to support
  packages/datastore/__tests__/connectivityHandling.test.ts
Owners: @aws-amplify/amplify-data
